################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NP.MultiPlaformWindowDemo/.vs/NP.MultiPlaformWindowDemo/v16
/NP.MultiPlaformWindowDemo/bin/Debug/net5.0
/NP.MultiPlaformWindowDemo/obj
/NP.Demos.UniDockIntroductionDemo/bin/Debug/net5.0
/NP.Demos.UniDockIntroductionDemo/.vs/NP.Demos.UniDockIntroductionDemo/v16/.suo
/NP.Demos.UniDockIntroductionDemo/obj
/NP.MultiPlaformWindowDemo/.vs/NP.MultiPlaformWindowDemo/DesignTimeBuild/.dtbcache.v2
/NP.Demos.UniDockIntroductionDemo/SerializationResult.xml
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/.vs/NP.Demos.VisualTreeSample/v16/.suo
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/bin
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/obj
/NP.Demos.UniDockIntroductionDemo/.vs/NP.Demos.UniDockIntroductionDemo/DesignTimeBuild/.dtbcache.v2
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/.vs/NP.Demos.LogicalTreeSample/DesignTimeBuild/.dtbcache.v2
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/.vs/NP.Demos.LogicalTreeSample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/.vs/NP.Demos.VisualTreeSample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/.vs/NP.Demos.StylePropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.StylePropertySample
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/.vs/NP.Demos.StylePropertySample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/.vs/NP.Demos.AttachedPropertySample/DesignTimeBuild/.dtbcache.v2
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.DirectPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingSourcesSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingSourcesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingSourcesSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.DirectPropertySample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingModesSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingModesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingModesSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.BindingSourcesSample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.BindingSourcesSample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.DirectPropertySample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingInCodeSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingInCodeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingInCodeSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/.vs/NP.Demos.AttachedPropertySample
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.BindingConvertersSample/DesignTimeBuild
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.BindingConvertersSample/v16
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.BindingModesSample/v16
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingToNonVisualSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingToNonVisualSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingToNonVisualSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/.vs/NP.Demos.LogicalTreeSample
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.MultiBindingSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.MultiBindingSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.MultiBindingSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/.vs/NP.Demos.VisualTreeSample
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/obj/Release/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/obj
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/bin
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/.vs
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency2Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency2Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/.vs
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/obj
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/.vs
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/obj
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/.vs
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/Dependencies/Dependency1Proj/Dependency1Proj.csproj.user
