################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NP.MultiPlaformWindowDemo/.vs/NP.MultiPlaformWindowDemo/v16
/NP.MultiPlaformWindowDemo/bin/Debug/net5.0
/NP.MultiPlaformWindowDemo/obj
/NP.Demos.UniDockIntroductionDemo/bin/Debug/net5.0
/NP.Demos.UniDockIntroductionDemo/.vs/NP.Demos.UniDockIntroductionDemo/v16/.suo
/NP.Demos.UniDockIntroductionDemo/obj
/NP.MultiPlaformWindowDemo/.vs/NP.MultiPlaformWindowDemo/DesignTimeBuild/.dtbcache.v2
/NP.Demos.UniDockIntroductionDemo/SerializationResult.xml
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/.vs/NP.Demos.VisualTreeSample/v16/.suo
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/bin
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/obj
/NP.Demos.UniDockIntroductionDemo/.vs/NP.Demos.UniDockIntroductionDemo/DesignTimeBuild/.dtbcache.v2
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/.vs/NP.Demos.LogicalTreeSample/DesignTimeBuild/.dtbcache.v2
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/.vs/NP.Demos.LogicalTreeSample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.LogicalTreeSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.VisualTreeSample/.vs/NP.Demos.VisualTreeSample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/.vs/NP.Demos.StylePropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.StylePropertySample
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.StylePropertySample/.vs/NP.Demos.StylePropertySample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.AttachedPropertySample/.vs/NP.Demos.AttachedPropertySample/DesignTimeBuild/.dtbcache.v2
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.DirectPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingSourcesSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingSourcesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingSourcesSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.DirectPropertySample/.vs/NP.Demos.DirectPropertySample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingModesSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingModesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingModesSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingConvertersSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.BindingSourcesSample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.BindingSourcesSample/v16
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs/NP.Demos.DirectPropertySample/DesignTimeBuild
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.MultiBindingSample/obj
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingInCodeSample/.vs
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingInCodeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaConcepts/NP.Demos.BindingInCodeSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/.vs/NP.Demos.AttachedPropertySample
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.AttachedPropertySample/v16
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.BindingConvertersSample/DesignTimeBuild
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.BindingConvertersSample/v16
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs/NP.Demos.BindingModesSample/v16
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingConvertersSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingInCodeSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.AttachedPropertySample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingModesSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingSourcesSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingToNonVisualSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingToNonVisualSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BindingToNonVisualSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DirectPropertySample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/.vs/NP.Demos.LogicalTreeSample
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.LogicalTreeSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.MultiBindingSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.MultiBindingSample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.MultiBindingSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/bin/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.StylePropertySample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/.vs/NP.Demos.VisualTreeSample
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/obj/Debug/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/obj/Release/net5.0
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.VisualTreeSample/obj
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/bin
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/.vs
/NP.Demos.XamlSamples/NP.Demos.NonVisualXamlSample/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency2Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/Dependencies/Dependency2Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlNamespacesSample/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/.vs
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.AccessPropertiesInXamlSample/obj
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/.vs
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.StaticVsDynamicXamlResourcesSample/obj
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlResourcesInMultipleProjects/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/.vs
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.ReferringToAssetsInXaml/Dependencies/Dependency1Proj/Dependency1Proj.csproj.user
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/.vs/NP.Demos.VisualTreeSample/DesignTimeBuild
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/.vs
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/Dependencies/Dependency1Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/Dependencies/Dependency1Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/Dependencies/Dependency2Proj/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/Dependencies/Dependency2Proj/obj
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XStaticMarkupExtensionSample/MainProject/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BuiltInRoutedEventSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BuiltInRoutedEventSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.BuiltInRoutedEventSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CustomRoutedEventSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CustomRoutedEventSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CustomRoutedEventSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CommandSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CommandSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CommandSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CallActionSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CallActionSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CallActionSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.UserControlSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.UserControlSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.UserControlSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CustomControlSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CustomControlSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.CustomControlSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DifferentVisualsForCustomControlSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DifferentVisualsForCustomControlSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.DifferentVisualsForCustomControlSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ContentPresenterSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ContentPresenterSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ContentPresenterSample/obj
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsPresenterSample/.vs
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsPresenterSample/bin
/NP.Demos.AvaloniaBasicConcepts/NP.Demos.ItemsPresenterSample/obj
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsSamples/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsSamples/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsSamples/MainProject/obj
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsBugSample/.vs
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsBugSample/MainProject/bin/Debug/net5.0
/NP.Demos.XamlSamples/NP.Demos.XamlGenericsBugSample/MainProject/obj
/NativeEmbeddedSample/.vs/NativeEmbedSample/v16
/NativeEmbeddedSample/bin
/NativeEmbeddedSample/obj
/NativeEmbeddedSample
/NP.Demos.VisualSamples/NP.Demos.CustomWindowResizeBug/dlls
/CustomBehaviors/NP.Demos.WPFCallActionBehaviorSample/.vs/NP.Demos.WPFCallActionBehaviorSample
/CustomBehaviors/NP.Demos.WPFCallActionBehaviorSample/bin/Debug/net5.0-windows
/CustomBehaviors/NP.Demos.WPFCallActionBehaviorSample/obj
/CustomBehaviors/NP.Demos.CallActionBehaviorSample/.vs
/CustomBehaviors/NP.Demos.CallActionBehaviorSample/bin/Debug
/CustomBehaviors/NP.Demos.CallActionBehaviorSample/obj
/CustomBehaviors/NP.Demos.DoubleCallActionBehaviorSample/.vs
/CustomBehaviors/NP.Demos.DoubleCallActionBehaviorSample/bin/Debug
/CustomBehaviors/NP.Demos.DoubleCallActionBehaviorSample/obj
/CustomBehaviors/NP.Demos.DragBehaviorSample/.vs
/CustomBehaviors/NP.Demos.DragBehaviorSample/bin/Debug
/CustomBehaviors/NP.Demos.DragBehaviorSample/obj
/Gidon/Tests/TestPlugins/Services/MockAuthentication/bin/Debug/net6.0
/Gidon/Tests/TestPlugins/Services/MockAuthentication/obj
/Gidon/Tests/TestPlugins/Services/TextService/bin/Debug/net6.0
/Gidon/Tests/TestPlugins/Services/TextService/obj
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/bin/Debug/net6.0
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/obj
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/EnterText/EnterTextViewModelPlugin/bin/Debug/net6.0
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/EnterText/EnterTextViewModelPlugin/obj
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/ReceiveText/ReceiveTextViewModelPlugin/bin/Debug/net6.0
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/ReceiveText/ReceiveTextViewModelPlugin/obj
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/SecurityTest/SecurityTextViewModelPlugin/bin/Debug/net6.0
/Gidon/Tests/TestPlugins/ViewViewModelPlugins/SecurityTest/SecurityTextViewModelPlugin/obj
/Gidon/Tests/TestServiceInterfaces/bin/Debug/net6.0
/Gidon/Tests/TestServiceInterfaces/obj
/ConsoleAppForLinuxSubsystemDebuggingDemo/.vs
/ConsoleAppForLinuxSubsystemDebuggingDemo/bin/Debug/net6.0
/ConsoleAppForLinuxSubsystemDebuggingDemo/obj
/ConsoleAppForLinuxSubsystemDebuggingDemo/ConsoleAppForLinuxSubsystemDebuggingDemo.csproj.user
/HostingDemos/HostingWinFormsDemo/.vs
/HostingDemos/HostingWinFormsDemo/MyWinFormsControl/bin/Debug
/HostingDemos/HostingWinFormsDemo/MyWinFormsControl/obj/Debug
/HostingDemos/HostingWpfControlDemo/.vs
/HostingDemos/HostingWpfControlDemo/WpfControlToHost/bin/Debug/net6.0-windows
/HostingDemos/HostingWpfControlDemo/WpfControlToHost/obj
/HostingDemos/HostingWpfControlWithBehaviorDemo/.vs
/HostingDemos/HostingWpfControlWithBehaviorDemo/WpfControlToHost/bin/Debug/net6.0-windows
/HostingDemos/HostingWpfControlWithBehaviorDemo/WpfControlToHost/obj
/HostingDemos/HostingWpfControlWithIoCyDemo/.vs
/HostingDemos/HostingWpfControlWithIoCyDemo/Windows/WinVisuals/bin/Debug/net6.0-windows
/HostingDemos/HostingWpfControlWithIoCyDemo/Windows/WinVisuals/obj/Debug/net6.0-windows/Avalonia
/HostingDemos/HostingWpfControlWithIoCyDemo/Windows/WinVisuals/obj/Debug/net6.0-windows
/HostingDemos/HostingWpfControlWithIoCyDemo/MultiPlatform/Interfaces/bin/Debug/net6.0
/HostingDemos/HostingWpfControlWithIoCyDemo/MultiPlatform/Interfaces/obj/Debug/net6.0
/HostingDemos/HostingWpfControlWithIoCyDemo/MultiPlatform/Interfaces/obj
/HostingDemos/HostingWpfControlWithIoCyDemo/Windows/WinVisuals/obj
/HostingDemos/HostingWpfControlWithIoCyDemo/Windows/WpfControl/bin/Debug/net6.0-windows
/HostingDemos/HostingWpfControlWithIoCyDemo/Windows/WpfControl/obj
*.user
/HostingDemos/HostingWpfControlWithIoCyDemo/bin/Debug/net6.0-windows/Plugins/ViewPlugins/WinVisuals
/HostingDemos/HostingWpfControlWithIoCyDemo/HostingWpfControlWithIoCyDemo/bin/Debug/net6.0-windows/Plugins/ViewPlugins/WinControl
/HostingDemos/HostingWpfControlWithIoCyDemo/Windows/WinVisuals/bin/Debug/net6.0
